[bumpversion]
current_version = 0.1.0.dev0
commit = True
tag = True
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\.(?P<release>[a-z0-9]+))?
serialize =
	{major}.{minor}.{patch}.{release}
	{major}.{minor}.{patch}

[bumpversion:file:click_utils/__init__.py]

[bumpversion:file:setup.py]

[bumpversion:part:release]
optional_value = gamma
values =
	dev0
	gamma

